.containerbody {
	margin: 0 -5px;
	width: 5000px;
	flex-wrap: wrap;
}

.containerbody:after {
  display: table;
  clear: both;
  display: flex;
flex-wrap: wrap;
 }

.column {
  	width: 100%;
 	padding: 0 10px;
 	margin: 300px 400px 100px 1200px;
 	display: flex;
	flex-wrap: wrap;

}


#leftcard {
	float: left;
	box-shadow: 50px 50px 50px 1px rgba(10,10,10,.2);
	perspective: 1000px;
	transition: transform 0.8s;
  	transform-style: preserve-3d;
  	flex-grow: 1;
  	background-color: #F7F3E3;
  	
}

#rightcard {
	float: right;
	box-shadow: 50px 50px 50px 1px rgba(10,10,10,.2);
	perspective: 1000px; 
	transition: transform 0.8s;
  	transform-style: preserve-3d;
  	background-color: #F7F3E3;
}


.card {
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 100px;
	background-color: #F7F3E3;
	
}

.cards {
	margin: 300px 300px 300px 300px;
	width: 1000px; 
	height:800px;
	background-color: #F7F3E3;
}





@media (max-width: 1200px){
	.cards #containerA {
		width:940px;
	}
}

@media (max-width: 960px) {
	.cards #containerA {
		width: 700px;
	}
}

@media (max-width: 720px) {
	.cards #containerA {
		width: 520px;
		display: inline-block;
	}
}

@media (max-width: 540px){
	.cards #containerA {
		width: 380px;
		
	}
}













